@use "../utils" as *;

.container {
    width: 100%;
    height: 100vh;
    .background-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        z-index: -1;
        display: flex;
        justify-content: start;
        align-items: center;
        &__round-shape {
            $size: 90vw;
            position: relative;
            left: calc(-#{$size} / 1.5);
            width: $size;
            height: $size;
            background-color: get-color("primary", 900);
            border-radius: 50%;
        }
    }
    .main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sign-up-container {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-family: get-font("primary");
                font-weight: 200;
                font-size: 2.3rem;
                letter-spacing: 5px;
                color: white;
            }
        }
        .form-and-icon-container {
            width: 70%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 4rem;
                    @include mq("xxls", $max-width: true, $min-width: true) {
                        width: 4.5rem;
                    }
                }
                h1 {
                    font-family: get-font("primary");
                    color: rgb(43, 43, 43);
                    letter-spacing: 4px;
                    font-size: 1.5rem;
                    @include mq("xxls", $max-width: true, $min-width: true) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
