@use "../utils" as *;

.container {
    width: 100%;
    height: 100vh;
    .background-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        z-index: -1;
        &__round-shape {
            $size: 70vw;
            position: relative;
            top: 15vh;
            left: calc(-#{$size} / 2);
            width: $size;
            height: $size;
            background-color: get-color("primary", 900);
            border-radius: 50%;
        }
    }
    .main {
        width: 100%;
        height: 100vh;
        border: 3px solid red;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        &__logo-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &__logo {
                width: 5rem;
            }
            h1 {
                font-family: get-font("primary");
                color: rgb(43, 43, 43);
                letter-spacing: 4px;
            }
        }
        &__sign-in {
            width: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            h2 {
                font-family: get-font("primary");
                font-weight: 100;
                font-size: 2rem;
                letter-spacing: 3px;
            }
        }
    }
}
