$breakpoints: (
    // small-device
    "sm":
        (
            "min-width": 0px,
            "max-width": 320px,
        ),
    // mobile device
    "md":
        (
            "min-width": 321px,
            "max-width": 480px,
        ),
    // tablet devices
    "td":
        (
            "min-width": 481px,
            "max-width": 768px,
        ),
    // small screen
    "ss":
        (
            "min-width": 769px,
            "max-width": 1024px,
        ),
    // large screen
    "ls":
        (
            "min-width": 1025px,
            "max-width": 1200px,
        ),
    "xls": (
        "min-width": 1201px,
        "max-width": 1360px,
    ),
    "xxls": (
        "min-width": 1360px,
        "max-width": 1920px,
    )
);

@mixin mq($screen, $min-width: true, $max-width: false) {
    // $screen: string
    // $min-width: boolean
    // $max-width: boolean
    @if $min-width == true and $max-width == false {
        $min-width-size: map-get(
            $map:
                map-get(
                    $map: $breakpoints,
                    $key: $screen,
                ),
            $key: "min-width",
        );
        @media (min-width: $min-width-size) {
            @content;
        }
    } @else if $min-width == false and $max-width == true {
        $max-width-size: map-get(
            $map:
                map-get(
                    $map: $breakpoints,
                    $key: $screen,
                ),
            $key: "max-width",
        );
        @media (max-width: $max-width-size) {
            @content;
        }
    } @else if $min-width == true and $max-width == true {
        $min-width-size: map-get(
            $map:
                map-get(
                    $map: $breakpoints,
                    $key: $screen,
                ),
            $key: "min-width",
        );
        $max-width-size: map-get(
            $map:
                map-get(
                    $map: $breakpoints,
                    $key: $screen,
                ),
            $key: "max-width",
        );
        @media (min-width: $min-width-size) and (max-width: $max-width-size) {
            @content;
        }
    }
}

@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}
