$colors: (
    primary: (
        900: #000842,
        800: #231869,
        400: #bfbeed,
    ),
    secondary: (
        100: #f63e32,
    ),
    black: (
        300: rgb(170, 170, 170),
        800: rgb(65, 64, 64),
    ),
);

$fonts: (
    ff: (
        primary: "Raleway",
    ),
);
