@use "../../utils" as *;

.sign-in-with-button {
    background-color: lighten(
        $color: get-color("secondary", 700, false),
        $amount: 15
    );
    border-width: 0px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    padding: 0.3rem 0.8rem;
    border-radius: 7px;
    transition-duration: 300ms;
    &:hover {
        background-color: lighten(
            $color: get-color("secondary", 700, false),
            $amount: 10
        );
    }
    @include mq("xxls", $max-width: true, $min-width: true) {
        width: 300px;
    }
    img {
        width: 2rem;
        @include mq("xxls", $max-width: true, $min-width: true) {
            width: 2.5rem;
        }
    }
    p {
        margin-left: 8px;
        font-family: get-font("primary");
        font-size: 0.8rem;
        letter-spacing: 2px;
        @include mq("xxls", $max-width: true, $min-width: true) {
            margin-left: 10px;
            font-size: 0.9rem;
        }
    }
}
