@use "../../utils" as *;

.form {
    $children-width: 80%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #c5c5c5;
    width: 50%;
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    input[name="name"],
    input[name="email"],
    input[name="password"],
    input[name="password_confirmation"] {
        width: $children-width;
        padding: 0.55rem;
        box-sizing: border-box;
        border-radius: 5px;
        border-width: 1px;
        border-color: rgb(190, 190, 190);
        border-style: solid;
        &::placeholder {
            font-family: get-font("primary");
            color: black;
            letter-spacing: 1.5px;
        }
        &:read-write {
            outline: none;
            font-size: 0.9rem;
            @include mq("xxls", $max-width: true, $min-width: true) {
                font-size: 1rem;
            }
        }
        @include mq("xxls", $max-width: true, $min-width: true) {
            padding: 0.6rem;
        }
    }
    &__birthday {
        width: $children-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        letter-spacing: 1px;
        gap: 5px;
        label {
            font-size: 0.9rem;
            font-family: get-font("primary");
            @include mq("xxls", $max-width: true, $min-width: true) {
                font-size: 1.1rem;
            }
        }
        &__picker {
            width: 100%;
        }
    }
    &__gender {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: $children-width;
        gap: 0.3rem;
        p {
            font-size: 0.9rem;
            font-family: get-font("primary");
        }
        &__picker {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &__child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.7rem;
                border: 1px solid rgb(119, 119, 119);
                padding: 0.3rem 0.8rem;
                border-radius: 5px;
                cursor: pointer;
                label {
                    font-family: get-font("primary");
                    cursor: pointer;
                    @include mq("xxls", $max-width: true, $min-width: true) {
                        font-size: 1.1rem;
                    }
                }
                @include mq("xxls", $max-width: true, $min-width: true) {
                    padding: 0.4rem 0.9rem;
                }
            }
        }
    }
    &__buttons {
        width: $children-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 0.5rem;
        &__sign-up {
            background-color: get-color("primary", 900);
            border-width: 0px;
            padding: 0.3rem 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
            letter-spacing: 3px;
            border-radius: 10px;
            font-family: get-font("primary");
            cursor: pointer;
            @include mq("xxls", $max-width: true, $min-width: true) {
                padding: 0.4rem 1.1rem;
                font-size: 1.3rem;
            }
        }
        &__sign-in {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            padding: 0.3rem 1rem;
            font-weight: 600;
            letter-spacing: 3px;
            font-family: get-font("primary");
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding-top: 1px;
            gap: 0.5rem;
            @include mq("xxls", $max-width: true, $min-width: true) {
                padding: 0.4rem 1.1rem;
                font-size: 1.3rem;
            }
            svg {
                width: 1rem;
                height: 1rem;
                @include mq("xxls", $max-width: true, $min-width: true) {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
    }
}
